In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from datetime import datetime, timedelta
import pandas as pd
import numpy as np
from meteostat import Stations, Daily, Hourly, units

from hourly import *
from daily import *
from stations import *

In [4]:
stations = get_stations()

In [5]:
station_id = ['KIAG0']

hourly_weather = get_hourly_weather(station = station_id, 
                   days_history = 60)

In [31]:
daily_prec = (hourly_weather
    .groupby('time_date')
    .agg({'prcp': 'sum'})
    .pipe(lambda x: x.assign(total_prcp_7_days = x['prcp'].rolling(7).sum()))
    .pipe(lambda x: x.assign(total_prcp_30_days = x['prcp'].rolling(30).sum()))
    .reset_index()
    .sort_values(['time_date'], ascending = True)
    .tail(30)
    .rename(columns = {'prcp': "Total_Daily",
                      'total_prcp_7_days': "7_Day_Total",
                      'total_prcp_30_days': '30_Day_Total'})
    .pipe(lambda x: pd.melt(x, id_vars = ['time_date'], value_vars = ['Total_Daily', '7_Day_Total', '30_Day_Total']))
)

In [32]:
daily_prec

     time_date      variable   value
0   2021-06-20   Total_Daily   0.016
1   2021-06-21   Total_Daily   0.166
2   2021-06-22   Total_Daily   0.000
3   2021-06-23   Total_Daily   0.004
4   2021-06-24   Total_Daily   0.000
..         ...           ...     ...
85  2021-07-15  30_Day_Total   7.423
86  2021-07-16  30_Day_Total   7.639
87  2021-07-17  30_Day_Total  10.929
88  2021-07-18  30_Day_Total  10.618
89  2021-07-19  30_Day_Total  10.413

[90 rows x 3 columns]

In [23]:
daily_prec

     time_date            variable  value
0   2021-07-19                prcp  0.024
1   2021-07-18                prcp  0.008
2   2021-07-17                prcp  3.290
3   2021-07-16                prcp  0.216
4   2021-07-15                prcp  0.000
..         ...                 ...    ...
85  2021-06-24  total_prcp_30_days  2.990
86  2021-06-23  total_prcp_30_days  2.990
87  2021-06-22  total_prcp_30_days  2.986
88  2021-06-21  total_prcp_30_days  2.986
89  2021-06-20  total_prcp_30_days  2.820

[90 rows x 3 columns]