In [3]:
from datetime import datetime, timedelta
import pandas as pd
import numpy as np
from meteostat import Stations, Daily, Hourly, units

import hourly
import daily
import stations

In [4]:
stations = get_stations()

stations

NameError: name 'get_stations' is not defined

In [92]:
stations = (Stations().fetch()
    .query('country == "US"')
    .pipe(lambda x: x.assign(station_long_name = x['name'] + ", " + x['region']))        
    .reset_index()
)

stations
#selected_station = stations['id'].loc[stations["station_long_name"] == stations['station_long_name'][0]].to_list()

,id,name,country,region,wmo,icao,latitude,longitude,elevation,timezone,hourly_start,hourly_end,daily_start,daily_end,monthly_start,monthly_end,station_long_name
0,69002,Hunter Ligget / Hunter-Liggett,US,CA,69002,KHGT,35.9935,-121.2367,310.0,America/Los_Angeles,1964-07-15,1997-04-01,1964-07-15,1971-07-31,1964-01-01,1971-01-01,"Hunter Ligget / Hunter-Liggett, CA"
1,69007,Fort Ord / Blanco,US,CA,69007,KOAR,36.6815,-121.7617,42.0,America/Los_Angeles,1973-01-02,2021-07-17,1983-03-31,2021-07-15,2020-01-01,2021-01-01,"Fort Ord / Blanco, CA"
2,69014,Irvine,US,CA,69014,KNZJ,33.6667,-117.7167,119.0,America/Los_Angeles,1989-01-01,1999-06-06,1945-03-01,1998-12-10,1945-01-01,1998-01-01,"Irvine, CA"
3,69015,Twentynine Palms / Sunfair Heights,US,CA,69015,KNXP,34.2962,-116.1622,625.0,America/Los_Angeles,1990-01-02,2021-07-17,1945-05-01,2021-07-14,1945-01-01,2021-01-01,"Twentynine Palms / Sunfair Heights, CA"
4,69019,Abilene / Tye,US,TX,69019,KDYS,32.4198,-99.8554,545.0,America/Chicago,1943-12-01,2021-07-17,1943-12-02,2021-07-15,1944-01-01,1996-01-01,"Abilene / Tye, TX"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2438,PHKO0,Kailua Kona / Mahaiula,US,HI,<NA>,PHKO,19.7388,-156.0456,14.0,Pacific/Honolulu,2006-01-01,2021-07-17,2006-01-01,2021-07-14,2006-01-01,2021-01-01,"Kailua Kona / Mahaiula, HI"
2439,PHMU0,Kamuela / Puopelu,US,HI,<NA>,PHMU,20.0013,-155.6681,814.0,Pacific/Honolulu,1941-07-14,2021-06-10,NaT,NaT,NaT,NaT,"Kamuela / Puopelu, HI"
2440,PHNY0,Lanai Airport 656 / Kaumalapau,US,HI,<NA>,PHNY,20.7856,-156.9514,399.0,Pacific/Honolulu,2006-01-01,2021-07-17,2006-01-04,2021-07-12,2008-01-01,2021-01-01,"Lanai Airport 656 / Kaumalapau, HI"
2441,PHSF0,Pohakuloa / Waiki‘i,US,HI,<NA>,PHSF,19.7600,-155.5538,1887.0,Pacific/Honolulu,2006-01-03,2021-07-17,2006-02-01,2021-07-14,2006-01-01,2020-01-01,"Pohakuloa / Waiki‘i, HI"
2442,U9ANI,Julian CDF,US,CA,<NA>,<NA>,33.0833,-116.6300,1285.0,America/Los_Angeles,NaT,NaT,1893-01-01,2021-07-06,1893-01-01,2021-01-01,"Julian CDF, CA"

In [81]:
hourly_weather = get_hourly_weather(station = 'KIAG0', start_date = datetime.now() - timedelta(hours=24*7))

hourly_weather.tail(10)

,time,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco
158,2021-07-17 02:00:00,67.3,63.0,86.0,0.122,NaN,103.0,6.3,NaN,1017.4,NaN,NaN
159,2021-07-17 03:00:00,66.4,63.3,90.0,0.157,NaN,104.0,6.0,NaN,1017.7,NaN,NaN
160,2021-07-17 04:00:00,65.5,63.1,92.0,0.118,NaN,86.0,7.4,NaN,1017.2,NaN,NaN
161,2021-07-17 05:00:00,65.1,63.3,94.0,0.083,NaN,78.0,8.1,NaN,1016.8,NaN,NaN
162,2021-07-17 06:00:00,65.1,63.7,95.0,0.130,NaN,87.0,7.6,NaN,1016.6,NaN,NaN
163,2021-07-17 07:00:00,64.8,63.7,96.0,0.185,NaN,87.0,8.7,NaN,1016.1,NaN,NaN
164,2021-07-17 08:00:00,64.6,63.5,96.0,0.240,NaN,83.0,10.1,NaN,1015.0,NaN,NaN
165,2021-07-17 09:00:00,64.2,63.3,97.0,0.350,NaN,102.0,10.5,NaN,1013.7,NaN,NaN
166,2021-07-17 10:00:00,64.8,63.7,96.0,0.402,NaN,348.0,6.7,NaN,1015.3,NaN,NaN
167,2021-07-17 11:00:00,63.3,61.9,95.0,0.067,NaN,89.0,7.0,NaN,1015.1,NaN,NaN

In [82]:
(hourly_weather
    .pipe(lambda x: x.assign(time_date = x['time'].dt.date))
    .groupby('time_date')
    .agg({"prcp": 'sum', 'temp': 'mean'})
)

             prcp       temp
time_date
2021-07-10  0.004  73.100000
2021-07-11  0.453  67.550000
2021-07-12  1.348  68.975000
2021-07-13  0.548  75.050000
2021-07-14  0.390  73.475000
2021-07-15  0.000  76.100000
2021-07-16  0.196  72.458333
2021-07-17  1.870  65.975000

In [79]:
get_daily_weather(station = 'KIAG0', start_date = datetime.now() - timedelta(days=5))

        time  tavg  tmin  tmax   prcp  snow   wdir  wspd  wpgt    pres  tsun
0 2021-07-13  73.9  66.2  84.2  0.685   NaN  200.6   8.1   NaN  1018.1   NaN
1 2021-07-14  73.8  69.8  80.6  0.252   NaN  231.2   9.7   NaN  1019.2   NaN
2 2021-07-15  76.8  66.2  86.0  0.067   NaN  213.5  13.9   NaN  1015.8   NaN
3 2021-07-16  70.7  66.2  75.4  0.425   NaN  350.9   5.3   NaN  1016.6   NaN
4 2021-07-17  67.1  63.3  72.7  2.260   NaN   59.7   7.4   NaN  1015.8   NaN